B1/T2/boletines/bol4_xsd/e3/e3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persona" type="persona">

  </xs:element>


  <xs:complexType name="persona">
    <xs:sequence>

      <xs:element name="datos" type="datos"/>
      <xs:element name="comentario" type="xs:string" minOccurs="0" maxOccurs="1"/>

    </xs:sequence>

    <xs:attribute name="nacimiento" type="xs:date"/>

  </xs:complexType>

  <xs:complexType name="datos">
    <xs:sequence>

      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="apellidos" type="xs:string"/>
      <xs:element name="dni" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>

</xs:schema>