B1/T2/ejemplos/XSD/7.temperatura/temperatura_1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registro_temperatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="provincia" type="xs:string" />
        <xs:element name="fecha" type="xs:date" />
        <xs:element name="temperatura_maxima" type="xs:" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>